/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-drawer mat-label {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 12px;
  margin-left: 16px;
  opacity: 0.6;
}

mat-card,
form {
  width: fit-content !important;
}

form mat-form-field {
  margin-bottom: -16px !important;
}

.mat-card-simple-header .mat-card-header-text {
  margin: 0 !important;
}

mat-card.form-card {
  margin-bottom: 16px;
}

mat-card.form-card mat-card-content {
  margin-top: 8px;
  margin-bottom: -8px;
}
