@import "~@angular/material/theming";

@include mat-core();

// Available color palettes: https://material.io/archive/guidelines/style/color.html
$app-primary-palette: mat-palette($mat-blue, 800, 500, 900);
$app-accent-palette: mat-palette($mat-blue, A200, A100, A400);
$app-warn-palette: mat-palette($mat-red, 800, 500, 900);

$app-theme: mat-dark-theme(
  (
    color: (
      primary: $app-primary-palette,
      accent: $app-accent-palette,
      warn: $app-warn-palette,
    ),
  )
);

@include angular-material-theme($app-theme);
