<div fxLayout="column" fxLayoutGap="16px">
  <input
    hidden
    appFileUpload
    #photoUploadInput
    type="file"
    (selectFiles)="filesSelected($event)"
  />
  <button
    mat-flat-button
    style="width: fit-content"
    color="primary"
    (click)="photoUploadInput.click()"
  >
    Choose file
  </button>
  <div
    *ngrxLet="photoUrlSubject$ as photoUrl"
    appDropZone
    class="dropzone"
    style="width: {{ dropzoneWidth }}; height: {{ dropzoneHeight }}"
    (dropFiles)="filesSelected($event)"
  >
    <div
      *ngIf="!photoUrl"
      class="dropzone-content"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      Drop a photo here!
    </div>
    <div *ngIf="photoUrl" class="dropzone-content">
      <img [src]="photoUrl" />
    </div>
  </div>
</div>
