<h1 class="mat-headline">User registration</h1>
<form class="wrapping-form">
  <div fxLayout="column">
    <mat-slide-toggle name="isAdmin" [formControl]="isAdminFormControl"
      >Admin</mat-slide-toggle
    >
    <div fxLayout="row wrap" fxLayoutGap="32px">
      <app-username-selector
        [appValidation]="usernameValidation"
      ></app-username-selector>
      <app-full-name-selector
        [appRequired]="true"
        [appValidation]="fullNameValidation"
      ></app-full-name-selector>
    </div>
    <app-new-password-selector
      [appValidation]="passwordSetterValidation"
    ></app-new-password-selector>
    <app-email-selector [appValidation]="emailValidation"></app-email-selector>
    <button
      mat-raised-button
      fxFlexAlign="start"
      [color]="isRegistrationDisabled() ? 'disabled' : 'primary'"
      [disabled]="isRegistrationDisabled()"
      (click)="register(); clearForm()"
    >
      Register
    </button>
  </div>
</form>
