<h1 class="mat-headline">User registration</h1>
<form>
  <div fxLayout="column" fxLayoutGap="16px">
    <mat-slide-toggle name="isAdmin" [formControl]="isAdminFormControl"
      >Admin</mat-slide-toggle
    >
    <div fxLayout="row" fxLayoutGap="32px">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          required
          matInput
          type="text"
          name="username"
          autocomplete="username"
          [formControl]="usernameValidation.formControl"
          [errorStateMatcher]="usernameValidation.errorPublisher"
          (focusout)="usernameValidation.triggerBeValidation()"
          (ngModelChange)="usernameValidation.triggerBeRevalidation()"
        />
        <mat-error>
          {{ usernameValidation.error$ | ngrxPush }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Full name</mat-label>
        <input
          required
          matInput
          type="text"
          name="fullName"
          autocomplete="name"
          [formControl]="fullNameValidation.formControl"
          [errorStateMatcher]="fullNameValidation.errorPublisher"
        />
        <mat-error>
          {{ fullNameValidation.error$ | ngrxPush }}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="32px">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          required
          matInput
          type="password"
          name="password"
          autocomplete="new-password"
          [formControl]="
            passwordSetterValidation.formControls.get(
              passwordValidationFormControls.password
            )
          "
          [errorStateMatcher]="passwordSetterValidation.errorPublisher"
        />
        <mat-error>
          {{ passwordSetterValidation.error$ | ngrxPush }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password again</mat-label>
        <input
          required
          matInput
          type="password"
          name="passwordAgain"
          autocomplete="new-password"
          [formControl]="
            passwordSetterValidation.formControls.get(
              passwordValidationFormControls.passwordAgain
            )
          "
          [errorStateMatcher]="passwordSetterValidation.errorPublisher"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          required
          email
          matInput
          type="email"
          name="email"
          autocomplete="email"
          [formControl]="emailValidation.formControl"
          [errorStateMatcher]="emailValidation.errorPublisher"
        />
        <mat-error>
          {{ emailValidation.error$ | ngrxPush }}
        </mat-error>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      fxFlexAlign="start"
      [color]="isRegistrationDisabled() ? 'disabled' : 'primary'"
      [disabled]="isRegistrationDisabled()"
      (click)="register(); clearForm()"
    >
      Register
    </button>
  </div>
</form>
