<h1 class="mat-headline">Import person</h1>
<form>
  <div fxLayout="column" fxLayoutGap="16px">
    <app-photo-selector [appPhotoSubject]="photoSubject$"></app-photo-selector>
    <div fxLayout="row wrap" fxLayoutGap="16px">
      <app-full-name-selector [appValidation]="fullNameValidation">
      </app-full-name-selector>
      <app-birth-date-selector
        [appValidation]="birthDateValidation"
      ></app-birth-date-selector>
      <app-nationality-selector [appValidation]="nationalityValidation">
      </app-nationality-selector>
    </div>
    <button
      mat-raised-button
      fxFlexAlign="start"
      [color]="isImportDisabled() ? 'disabled' : 'primary'"
      [disabled]="isImportDisabled()"
      (click)="importPerson()"
    >
      Import
    </button>
  </div>
</form>
