[Unit]
Description=Police Lineups
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/installation/directory/of/police/lineups
ExecStart=/installation/directory/of/police/lineups/start.ps1
ExecStop=/installation/directory/of/police/lineups/stop.ps1

[Install]
WantedBy=multi-user.target
