<h1 class="mat-headline">Lineup editor</h1>
<mat-horizontal-stepper
  #stepper
  [selectedIndex]="selectedStepSubject$ | ngrxPush"
>
  <mat-step>
    <ng-template matStepLabel>People search</ng-template>
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Filter options</mat-panel-title>
        </mat-expansion-panel-header>
        <form>
          <div fxLayout="row wrap" fxLayoutGap="16px">
            <app-full-name-selector
              appAppearance="outline"
              [appValidation]="fullNameValidation"
            >
            </app-full-name-selector>

            <app-age-selector
              appAppearance="outline"
              appLabel="Minimal age"
              [appValidation]="minAgeValidation"
            >
            </app-age-selector>

            <app-age-selector
              appAppearance="outline"
              appLabel="Maximal age"
              [appValidation]="maxAgeValidation"
            >
            </app-age-selector>

            <app-nationality-selector
              appAppearance="outline"
              [appValidation]="nationalityValidation"
            ></app-nationality-selector>
          </div>
        </form>
      </mat-expansion-panel>
      <app-filter-chip-list
        [appFilterChipsData]="filterChipsData"
      ></app-filter-chip-list>
      <button mat-button color="accent" (click)="searchForPeople()">
        Search
      </button>

      <ng-container *ngrxLet="filteredPeople$ as filteredPeople">
        <h2 *ngIf="filteredPeople?.length" class="mat-title">Results</h2>
        <div fxLayout="row wrap" fxLayoutGap="16px">
          <div *ngFor="let person of filteredPeople">
            <ng-container *ngrxLet="isInLineup(person) as isPersonInLineup">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ person.fullName }}</mat-card-title>
                  <mat-icon *ngIf="isPersonInLineup">check_circle</mat-icon>
                </mat-card-header>
                <mat-card-content>
                  <img [src]="person.photoUrl" height="150px" />
                </mat-card-content>
                <mat-card-actions>
                  <button
                    mat-button
                    color="accent"
                    [disabled]="isPersonInLineup"
                    (click)="addPersonToLineup(person)"
                  >
                    Add to lineup
                  </button>
                  <button
                    *ngIf="isPersonInLineup"
                    mat-button
                    color="warn"
                    (click)="removePersonFromLineup(person)"
                  >
                    Remove
                  </button>
                </mat-card-actions>
              </mat-card>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-step>
  <mat-step *ngrxLet="lineupIdSubject$ as editingExistingLineup">
    <ng-template matStepLabel>Lineup</ng-template>
    <div fxLayout="column" fxLayoutGap="16px">
      <ng-container *ngrxLet="lineupPeople$ as lineupPeople">
        <app-lineup-name-selector
          appAppearance="outline"
          [appRequired]="true"
          [appValidation]="lineupNameValidation"
        >
        </app-lineup-name-selector>
        <div fxLayout="row wrap" fxLayoutGap="16px">
          <div *ngFor="let person of lineupPeople">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{ person.fullName }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <img [src]="person.photoUrl" height="150px" />
              </mat-card-content>
              <mat-card-actions>
                <button
                  mat-button
                  color="warn"
                  (click)="removePersonFromLineup(person)"
                >
                  Remove from lineup
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <button
          mat-button
          color="accent"
          [disabled]="!lineupPeople?.length || isProblemWithLineupName()"
          (click)="
            editingExistingLineup ? saveExistingLineup() : saveNewLineup();
            lineupNameValidation.markAsPristine()
          "
        >
          Save
        </button>
        <button
          *ngIf="editingExistingLineup"
          mat-button
          color="warn"
          (click)="deleteLineup()"
        >
          Delete lineup
        </button>
      </ng-container>
      <ng-container *ngrxLet="recommendedPeople$ as recommendedPeople">
        <h2 *ngIf="recommendedPeople?.length" class="mat-title">
          Recommendations
        </h2>
        <div fxLayout="row wrap" fxLayoutGap="16px">
          <div *ngFor="let person of recommendedPeople">
            <ng-container *ngrxLet="isInLineup(person) as isPersonInLineup">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{ person.fullName }}</mat-card-title>
                  <mat-icon *ngIf="isPersonInLineup">check_circle</mat-icon>
                </mat-card-header>
                <mat-card-content>
                  <img [src]="person.photoUrl" height="150px" />
                </mat-card-content>
                <mat-card-actions>
                  <button
                    mat-button
                    color="accent"
                    [disabled]="isPersonInLineup"
                    (click)="addPersonToLineup(person)"
                  >
                    Add to lineup
                  </button>
                </mat-card-actions>
              </mat-card>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-step>
</mat-horizontal-stepper>
