mat-list-item {
  height: fit-content !important;
  width: fit-content !important;
  margin-bottom: 20pt;
}

mat-list-item span {
  margin-left: 20pt;
  margin-right: 20pt;
}

.person-card {
  margin-top: 4px;
  margin-bottom: 4px;
}

.photo {
  height: 100px;
  object-fit: contain;
}
