<mat-toolbar color="primary">
  <button mat-icon-button id="toolbar-menu-button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Police lineups</span>
  <span class="spacer"></span>
  <button mat-button (click)="redirectToLogin()" *ngIf="!showLogout">
    login
  </button>
  <button mat-button (click)="logout()" *ngIf="showLogout">
    logout
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer id="drawer" mode="side">
      <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
      <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
      <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
      <button mat-button routerLink="/people" routerLinkActive="active">People</button>
      <button mat-button routerLink="/import" routerLinkActive="active">Import</button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
