/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

#toolbar-menu-button {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 60px;
  padding-left: 12px;
}

mat-toolbar button {
  padding: 0;
}

mat-drawer-container {
  height: calc(100% - 60px);
}

mat-drawer button {
  width: 100%;
  height: 50px;
  text-align: start;
}

mat-drawer-content {
  padding: 30px;
}

#drawer {
  width: 200px;
}
