<mat-toolbar class="toolbar">
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="top-toolbar">Police lineups</span>
  <button mat-button routerLink="/logout" *ngIf="showLogout">
    logout
  </button>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="over">
      <p class = "drawer-header">Backend: <a href="{{backend}}">{{backend}}</a></p>
      <button mat-button routerLink="/home" routerLinkActive="active" (click)="drawer.toggle()">Home</button>
      <button mat-button routerLink="/login" routerLinkActive="active" (click)="drawer.toggle()">Login</button>
      <button mat-button routerLink="/register" routerLinkActive="active" (click)="drawer.toggle()">Register</button>
      <button mat-button routerLink="/people" routerLinkActive="active" (click)="drawer.toggle()">People</button>
      <button mat-button routerLink="/import" routerLinkActive="active" (click)="drawer.toggle()">Import</button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
