/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

.toolbar {
    height: 5%;
}

.drawer-container {
    height: 95%;
}

.drawer-header {
    margin: 20px;
}

mat-drawer button {
    width: 100%;
    text-align: start;
}