**/__pycache__

/.vscode/.ropeproject

/server-env
/server-env-win

/generated
/src/swagger_server
/src/requirements.txt
/src/test-requirements.txt
/swagger-requirements.txt
/swagger-test-requirements.txt