<h1 class="mat-headline">Register</h1>
<form (submit)="register($event)">
    <mat-slide-toggle name="isAdmin" [(ngModel)]="isAdmin">Admin</mat-slide-toggle>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Full name</mat-label>
            <input matInput type="text" name="fullName" [(ngModel)]="fullName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" name="username" [(ngModel)]="username">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="password">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password again</mat-label>
            <input matInput type="password" name="passwordAgain" [(ngModel)]="passwordAgain">
        </mat-form-field>
    </p>
    <button mat-raised-button color="primary">
        Register
    </button>
</form>
