:host {
  --tolbar-height: 60px;
  --drawer-content-padding: 25px;
}

#toolbar {
  height: var(--tolbar-height);
  padding-left: 0;
  padding-right: var(--drawer-content-padding);
}

#toolbar button {
  padding: 0;
}

#toolbar-menu-button {
  width: var(--tolbar-height);
  height: var(--tolbar-height);
  margin: 0 calc(var(--drawer-content-padding) - 18px);
}

#toolbar-spacer {
  flex: 1 1 auto;
}

#drawer-container {
  height: calc(100% - var(--tolbar-height));
}

#drawer {
  width: 200px;
}

#drawer button {
  width: 100%;
  height: 50px;
  text-align: start;
}

#drawer-content {
  padding: var(--drawer-content-padding);
}
