<ng-container *ngrxLet="appComponentData$ as data">
  <mat-toolbar color="primary" id="toolbar">
    <button
      mat-icon-button
      id="toolbar-menu-button"
      [disabled]="!data.isLoggedIn"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="{{ staticPath.home }}">
      <h4 class="mat-display-1">Police lineups</h4>
    </button>
    <span id="toolbar-spacer"></span>
    <button
      mat-button
      class="button-with-icon-and-text"
      [matMenuTriggerFor]="sessionMenu"
      *ngIf="data.isLoggedIn"
    >
      <mat-icon>account_circle</mat-icon>{{ data.fullName }}
    </button>
    <mat-menu #sessionMenu="matMenu">
      <button
        mat-menu-item
        class="button-with-icon-and-text"
        routerLink="{{ staticPath.currentUser }}"
      >
        <mat-icon>settings</mat-icon>Settings
      </button>
      <button
        mat-menu-item
        class="button-with-icon-and-text"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>Logout
      </button>
    </mat-menu>
    <button
      mat-button
      class="button-with-icon-and-text"
      routerLink="{{ staticPath.login }}"
      *ngIf="!data.isLoggedIn"
    >
      <mat-icon>login</mat-icon>Login
    </button>
  </mat-toolbar>
  <mat-drawer-container id="drawer-container">
    <mat-drawer #drawer id="drawer" mode="side" [(opened)]="drawerOpened">
      <div *ngIf="data.isLoggedIn">
        <mat-label class="mat-caption">People</mat-label>
        <button
          mat-button
          class="button-with-icon-and-text"
          routerLink="{{ staticPath.people }}"
        >
          <mat-icon>search</mat-icon>Search
        </button>
        <button
          mat-button
          class="button-with-icon-and-text"
          routerLink="{{ staticPath.import }}"
        >
          <mat-icon>add</mat-icon>Import person
        </button>
        <mat-divider></mat-divider>
      </div>
      <div *ngIf="data.isAdmin">
        <mat-label class="mat-caption">Users</mat-label>
        <button
          class="button-with-icon-and-text"
          mat-button
          routerLink="{{ staticPath.usersList }}"
        >
          <mat-icon>people</mat-icon>Users list
        </button>
        <button
          class="button-with-icon-and-text"
          mat-button
          routerLink="{{ staticPath.userRegistration }}"
        >
          <mat-icon>person_add</mat-icon>Add user
        </button>
        <mat-divider></mat-divider>

        <mat-label class="mat-caption">Server</mat-label>
        <button
          class="button-with-icon-and-text"
          mat-button
          (click)="openServerAdministrationPanel()"
        >
          <mat-icon>admin_panel_settings</mat-icon>Administration
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-drawer>
    <mat-drawer-content id="drawer-content">
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
