<h1 class="mat-headline">Login</h1>
<form>
  <div fxLayout="column" fxLayoutGap="16px">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          required
          type="text"
          name="username"
          autocomplete="username"
          [formControl]="usernameValidation.formControl"
          [errorStateMatcher]="usernameValidation.errorPublisher"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          type="password"
          name="password"
          autocomplete="current-password"
          [formControl]="passwordValidation.formControl"
          [errorStateMatcher]="passwordValidation.errorPublisher"
        />
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      fxFlexAlign="start"
      [disabled]="
        usernameValidation.pristineOrInvalid ||
        passwordValidation.pristineOrInvalid
      "
      (click)="login()"
    >
      Login
    </button>
  </div>
</form>
