<ng-container *ngrxLet="userSettingsComponentData$ as data">
  <h1 class="mat-headline">
    {{ data.isEditingSelf ? "Settings" : "Settings of user " + data.username }}
  </h1>

  <h2 class="mat-title">Update account</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <form>
      <mat-card class="form-card">
        <mat-card-header class="mat-card-simple-header">
          <mat-card-title>Full name</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-full-name-selector
            appAppearance="outline"
            [appValidation]="fullNameValidation"
          ></app-full-name-selector>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            color="accent"
            [disabled]="fullNameValidation.pristineOrInvalid"
            (click)="updateUserFullName(); fullNameValidation.markAsPristine()"
          >
            Update
          </button>
        </mat-card-actions>
      </mat-card>
    </form>

    <form>
      <mat-card class="form-card">
        <mat-card-header class="mat-card-simple-header">
          <mat-card-title>Email</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-email-selector
            appAppearance="outline"
            [appValidation]="emailValidation"
          ></app-email-selector>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            color="accent"
            [disabled]="emailValidation.pristineOrInvalid"
            (click)="updateUserEmail(); emailValidation.markAsPristine()"
          >
            Update
          </button>
        </mat-card-actions>
      </mat-card>
    </form>

    <form>
      <mat-card class="form-card">
        <mat-card-header class="mat-card-simple-header">
          <mat-card-title>Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-new-password-selector
            appAppearance="outline"
            appGapWidth="16px"
            [appValidation]="passwordSetterValidation"
          >
          </app-new-password-selector>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            color="accent"
            [disabled]="passwordSetterValidation.pristineOrInvalid"
            (click)="
              updateUserPassword(); passwordSetterValidation.clearValue()
            "
          >
            Update
          </button>
        </mat-card-actions>
      </mat-card>
    </form>

    <form>
      <mat-card class="form-card">
        <mat-card-header class="mat-card-simple-header">
          <mat-card-title>Role</mat-card-title>
        </mat-card-header>
        <mat-card-content
          ><mat-slide-toggle
            name="isAdmin"
            [formControl]="isAdminFormControl"
            [appReactivelyDisabled]="
              data.isEditingSelf || data.isEditingRootUser
            "
            (change)="updateUserRole()"
            >{{ adminRole }}</mat-slide-toggle
          ></mat-card-content
        >
      </mat-card>
    </form>
  </div>

  <h2 class="mat-title">Delete account</h2>
  <button
    mat-raised-button
    [color]="data.isEditingRootUser ? 'disabled' : 'warn'"
    [disabled]="data.isEditingRootUser"
    (click)="deleteUser()"
  >
    {{
      data.isEditingSelf
        ? "Delete your account"
        : "Delete user " + data.username
    }}
  </button>
</ng-container>
